# ==============================
# Frontend
# ==============================

frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.production.local

frontend/node_modules/
frontend/dist/


# ==============================
# Backend
# ==============================

backend/bin/
backend/obj/


# ==============================
# IDE / OS
# ==============================

.vs/
.vscode/
.idea/

*.user
*.suo
.DS_Store
Thumbs.db